
.two{
    margin-left: 500px;
}
.three{
    padding-top: 30px;
}
.four{
    height: 70px;
    width: 1410px;
    border: solid black 1px;
    background-color:#191970		;
}
.five{

    padding-top: 30px;
    background-color:black;
}
.six{
    padding-top:10px;
    padding-left:50px;
}
.seven{
    color: white;
    text-align: center;
}